@media (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }

    .header .subtitle {
        font-size: 16px;
        
    }
    .card-header {
        font-size: 16px;
    }

    .code-card {
        width: 100%;
    }

    .code-grid {
        flex-direction: column;
    }
}